.navbar.navbar-inverse{
    margin-bottom: 0px;
}

.carousel-inner{
    width: 100%;
    height: auto; 
}

.footer {
    text-align: center;
    background-color: lightblue;
    color: black;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
}

footer span a{
    color:black;
    text-decoration:none;
    
}
